body, html {
	margin: 0;
	background-color: #fdf2b5;
	font-family: Calisto MT,Bookman Old Style,Bookman,Goudy Old Style,Garamond,Hoefler Text,Bitstream Charter,Georgia,serif; 
	/*min-width: 600px;*/
}

a, a:hover {
	-webkit-transition: color 0.3s ease-in;
	-moz-transition: color 0.3s ease-in;
	-ms-transition: color 0.3s ease-in;
	-o-transition: color 0.3s ease-in;
	transition: color 0.3s ease-in
}
a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #555;
}

.footer {
	z-index: 1;
	position: relative;
}

.footer a {
	float: left;
	margin-right: 5px;
}

.tabs {
	/*float: right;*/
	/*padding-top: 40%;*/
	background-color: #fdf2b5;
	width: 100%;
	height: 27px;
}
.tabs .left {
	float: left;
}
.tabs .right {
	float: right;
}

.tab {
	float: left;
	/*text-align: right;*/
	/*width: 20%;*/
	background-color: #fdf2b5;
	/*margin-bottom: 5%;*/
	padding: 5px 0;
}

.tab {
	border: #ead486 solid 1px;
	border-left: 0px;
	border-bottom: 0px;
}
.tabs .left .tab:first-child, .tabs .right .tab:first-child {
	border-left: #ead486 solid 1px;
}

.tab a {
	padding: 5px;
}

.tab a:hover {
	background-color: #ead486;
	-webkit-transition: background-color 0.3s ease-in;
	-moz-transition: background-color 0.3s ease-in;
	-ms-transition: background-color 0.3s ease-in;
	-o-transition: background-color 0.3s ease-in;
	transition: background-color 0.3s ease-in
}

.bg-home {
	background-image: url('../img/home.jpg');
	background-repeat: no-repeat;
	margin: 0 auto;
	display: block;
	/*width: 100%;*/
}

.bg-home.sustainable {
	background-image: url('../img/sustainable.jpg');
}

.bg-home.benefits {
	background-image: url('../img/benefits.jpg');
}

.bg-home.involvement {
	background-image: url('../img/involvement.jpg');
}

@media (max-width: 600px) {
	.container, .bg-home {
		width: 100%;
	}
	.tab {
		font-size: .8em;
	    border-left: #ead486 solid 1px;
	}
	.tabs .left {
		float: right;
	}
	.tab, .tabs .left, .tabs .right {
		float: right;
	    clear: right;
	}
	.bg-home {
		height: 70%;
		background-size: contain;
		margin-top: 75px;
		position: absolute;
	}
	.logo {
		background-size: 100px 100px;
		width: 100px;
		height: 100px;
		top: -102px;
	}
	.body {
		font-size: 6px;
	}
	.tagline {
		font-size: 1.4em;
		display: none;
	}
	.footer {
		display: inline-block;
		margin-top: 68%;
		padding: 0 5%;
	}
	.footer.sustainable {
		margin-top: 68%;
	}
	.footer.benefits {
		margin-top: 73%;
	}
	.footer.involvement {
		margin-top: 82%;
	}
	.footer a {
		margin-right: 0px;
		margin-left: 10px;
	}
}

@media (min-width: 600px) {
	.container, .bg-home {
		width: 600px;
	}
	.bg-home {
		height: 400px;
		background-size: 600px 400px;
		margin-top: 81px;
		position: relative;
	}
	.logo {
		background-size: 133px 133px;
		width: 133px;
		height: 133px;
	}
	.body {
		font-size: 8px;
	}
	.tab {
		font-size: .9em;
	    border-left: #ead486 solid 1px;
	}
	.tabs .left {
		float: right;
	}
	.tab, .tabs .left, .tabs .right {
		float: right;
	    clear: right;
	}
	.tagline {
		font-size: .65em;
		display: none;
	}
	.logo {
		top: -108px;
	}
	.footer {
		display: block;
		margin-top: 10px;
	}
}

@media (min-width: 900px) {
	.container, .bg-home {
		width: 800px;
	}
	.bg-home {
		height: 533px;
		background-size: 800px 533px;
		margin-top: 0;
	}
	.logo {
		background-size: 166px 166px;
		width: 166px;
		height: 166px;
	}
	.body {
		font-size: 12px;
	}
	.tabs {
		margin-top: 53px;
	}
	.tab {
	    border-left: 0px;
	    margin-top: 0;
	    font-size: .9em;
	    float: left;
	    clear: none;
	}
	.tabs .left {
		float: left;
	}
	.tabs .right {
		float: right;
	}
	.tagline {
		font-size: 1em;
		display: block;
	}
	.tagline.tag-1 {
		padding-top: 5.1em;
	/*color: #b78b1c;*/
	}
	.logo {
		top: -80px;
		left: 313px;
	}
}

@media (min-width: 1200px) {
	.container, .bg-home {
		width: 1100px;
	}
	.bg-home {
		height: 733px;
		background-size: 1100px 733px;
		margin-top: 0;
	}
	.logo {
		background-size: 200px 200px;
		width: 200px;
		height: 200px;
	}
	.tab {
		font-size: 1em;
	}
	.tabs {
		margin-top: 65px;
		height: 29px;
	}
	.tagline {
		font-size: 1.4em;
		display: block;
	}
	.tagline.tag-1 {
		padding-top: 4.8em;
	/*color: #b78b1c;*/
	}
	.logo {
		top: -95px;
		left: 450px;
	}
}

.container {
	margin: 0 auto;
}
.tagline {
font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.logo-wrap {
	margin: 0 auto;
}
.logo {
	margin: 0 auto;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	position: absolute;
}

