<% layout('boilerplate') -%>

<div class="header">Benefits</div>
<ul class="sans">
	<li>
		<div class="title">
			Reduction in water and energy costs through conservation advice
		</div>
		<div class="description">
			With the cost of water becoming a major concern across the nation, Sustainability International will show your community the many ways that enhanced environmental practices can reduce water and energy consumption in a measurable way. From daily evaporation alerts to proper plant selection and placement, we’ll provide your community with the expertise needed to make saving money through sound environmental practices a reality.
		</div>
	</li>
	<li>
		<div class="title">
			Individual Homeowner Environmental and Safety Evaluations
		</div>
		<div class="description">
			Our proprietary Sustainacheck™ homeowner safety and environmental property assessment will be performed for each property owner on an annual basis. This assessment consists of a comprehensive 71 point evaluation of the exterior property conditions of every home site. Each homeowner then will receive a copy of how they scored in all areas of the assessment, along with expert environmental advice on how to make improvements in any of the areas where their property may need attention.
		</div>
	</li>
	<li>
		<div class="title">
			Environmental Stewardship Manager on property
		</div>
		<div class="description">
			Each Sustainability International member community will be assigned a dedicated Environmental Stewardship Manager. The ESM will perform scheduled visits to your community to conduct environmental quality assessments: in areas including storm water management, water quality evaluations, and best management practices, just to name a few. Your ESM will also liaison with your approved fertilizer and chemical applicators to ensure that environmental best management practices become standard operating procedure property wide.
		</div>
	</li>
	<li>
		<div class="title">
			Certification of approved lawn care providers to ensure the safest application of fertilizers and chemicals
		</div>
		<div class="description">
			Ever wonder what those guys are spraying over there, and will it affect my pets, children, or grandchildren? Well now you’ll know. Sustainability International works hand in hand with your local lawn care providers in a certification process that will empower each property owner to choose the right lawn care professional for them. The certification process involves a careful analysis of methods and products offered by each provider to ensure safe and proper applications within the community.
		</div>
	</li>
	<li>
		<div class="title">
			Environmentally themed seminars open to all residents
		</div>
		<div class="description">
			On an ongoing basis, Sustainability International will conduct group educational sessions designed to equip homeowners with the knowledge to make their individual properties more energy efficient and environmentally friendly. Our expert staff, along with industry leading guest speakers, will provide the latest information on topics like water conservation, proper fertilization, wild bird feeding, and so much more.
		</div>
	</li>
	<li>
		<div class="title">
			Reduced carbon footprint community-wide
		</div>
		<div class="description">
			With reductions in water and electricity usage, and more efficient application of fertilizers and chemicals, your community will significantly reduce the total amount of carbon released into the atmosphere. This not only saves money for each homeowner, but also protects valuable natural resources for generations to come.
		</div>
	</li>
	<li>
		<div class="title">
			Assistance with obtaining energy rebates 
		</div>
		<div class="description">
			Sustainability International will provide timely information on local, state, and federal rebates and credits available to the community, as well as, procedural assistance on the processes involved in acquiring them.
		</div>
	</li>
	<li>
		<div class="title">
			Wildlife conservation advice
		</div>
		<div class="description">
			Along with our community educational sessions, Sustainability International members will also receive seasonal conservation bulletins regarding the habits and habitat needs of your local wildlife population.
		</div>
	</li>
</ul>
<div class="sans description">
	Prove your commitment to environmental stewardship by voluntarily implementing practices that protect the environment, protect water quality, and reduce water consumption.
</div>
