<% layout('boilerplate') -%>

<div class="glass">
</div>
<div class="container">
	<div class="tabs">
		<div class="logo"></div>
		<a class="tab" href="/">HOME</a>
		<a class="tab" href="/sustainable">SUSTAINABLE COMMUNITIES</a>
		<a class="tab active" href="/benefits">BENEFITS</a>
		<a class="tab" href="/involvement">COMMUNITY INVOLVEMENT</a>
	</div>
	<div class="content benefits">
		<div class="title" style="font-weight: bold;">Benefits</div>
		<ul class="benefits-list">
			<li>Reduction in water and energy costs through conservation advice</li>
			<li>Individual Homeowner Environmental and Safety Evaluations</li>
			<li>Environmental Stewardship Manager on property</li>
			<li>Certification of approved lawn care providers to ensure the safest application of fertilizers and chemicals</li>
			<li>Environmentally themed seminars open to all residents</li>
			<li>Reduced carbon footprint community-wide</li>
			<li>Assistance with obtaining energy rebates </li>
			<li>Wildlife conservation advice</li>
		</ul>
		<div class="prove" style="margin: 10px 0;">
			Prove your commitment to environmental stewardship by voluntarily implementing practices that protect the environment, protect water quality, and reduce water consumption.
		</div>
	</div>
	<div class="footer">
		<a href="tel:8668723708"><i class="fa fa-phone-square"></i> 866-872-3708</a>
		<a href="mailto:info@sustainabilityinternational.org"><i class="fa fa-envelope"></i> info@sustainabilityinternational.org</a>
		<a href="http://golfbmpsolutions.com" class="right">Visit Golf BMP Solutions</a>
	</div>
</div>
