<% layout('boilerplate') -%>

<div class="tabs">
	<div class="left">
		<div class="tab"><a href="/">HOME</a></div>
		<div class="tab"><a href="/sustainable">SUSTAINABLE COMMUNITIES</a></div>
	</div>
	<div class="right">
		<div class="tab active"><a href="/benefits">BENEFITS</a></div>
		<div class="tab"><a href="/involvement">COMMUNITY INVOLVEMENT</a></div>
	</div>
</div>
<div class="bg-home benefits">
	<div class="logo"></div>
</div>
<div class="footer benefits">
	<div class="title" style="font-weight: bold;">Benefits</div>
	<div class="benefits" style="float: left;">
		<div>Reduction in water and energy costs through conservation advisements</div>
		<div>Individual Homeowner Environmental and Safety Evaluations </div>
		<div>Environmental Stewardship Manager on property</div>
		<div>Certification of approved lawn care providers to ensure the safest application of fertilizers and chemicals</div>
		<div>Environmentally themed seminars open to all residents</div>
		<div>Reduced carbon footprint community wide</div>
		<div>Assistance with obtaining energy rebates </div>
		<div>Wildlife conservation advice</div>
	</div>
	<div class="prove" style="margin: 10px 0; float: left;">
		Prove your commitment to environmental stewardship by voluntarily implementing practices that protect the environment, protect water quality, and reduce water consumption.
	</div>
	<a href="tel:8668723708"><i class="fa fa-phone-square"></i> 866-872-3708</a>
	<a href="mailto:info@sustainabilityinternational.org"><i class="fa fa-envelope"></i> info@sustainabilityinternational.org</a>
</div>
