<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sustainability International</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href='img/favicon.ico'/>
    <link rel='stylesheet' href='css/main.css' />
  </head>

  <body>
    <%-body -%>
  </body>
</html>
