<% layout('boilerplate') -%>
<div class="glass">
</div>
<div class="container">
	<div class="tabs">
		<div class="logo"></div>
		<a class="tab active" href="/">HOME</a>
		<a class="tab" href="/sustainable">SUSTAINABLE COMMUNITIES</a>
		<a class="tab" href="/benefits">BENEFITS</a>
		<a class="tab" href="/involvement">COMMUNITY INVOLVEMENT</a>
	</div>
	<div class="content">
		<div class="tagline">
			The idea of sustainable communities will be a major focus in the coming years.
			<br>
			Is your community going to be a leader in this movement?
		</div>
	</div>
	<div class="footer">
		<a href="tel:8668723708"><i class="fa fa-phone-square"></i> 866-872-3708</a>
		<a href="mailto:info@sustainabilityinternational.org"><i class="fa fa-envelope"></i> info@sustainabilityinternational.org</a>
		<a href="http://golfbmpsolutions.com" class="right">Visit Golf BMP Solutions</a>
	</div>
</div>