<% layout('boilerplate') -%>

<div class="tabs">
	<div class="left">
		<div class="tab active"><a href="/">HOME</a></div>
		<div class="tab"><a href="/sustainable">SUSTAINABLE COMMUNITIES</a></div>
	</div>
	<div class="right">
		<div class="tab"><a href="/benefits">BENEFITS</a></div>
		<div class="tab"><a href="/involvement">COMMUNITY INVOLVEMENT</a></div>
	</div>
</div>
<div class="bg-home">
	<div class="logo"></div>
	<div class="tagline tag-1">
		The idea of sustainable communities will be a major focus in the coming years.
	</div>
	<div class="tagline tag-2">
		Is your community going to be a leader in this movement?
	</div>
</div>
<div class="footer">
	<a href="tel:8668723708"><i class="fa fa-phone-square"></i> 866-872-3708</a>
	<a href="mailto:info@sustainabilityinternational.org"><i class="fa fa-envelope"></i> info@sustainabilityinternational.org</a>
</div>
