<% layout('boilerplate') -%>

<div class="header">
	Sustainability International
</div>
<br>
<div class="title" style="margin: 0 auto; text-align: center;">
    Our goal is to provide golf clubs and housing communities with sustainable practices.
</div>
<br>
<div style="margin: 0 auto; text-align: center;">
    Are you a golf club looking to easily manage your property and safety procedures?
</div>
<br>
<div style="margin: 0 auto; text-align: center;">
    <a href="/golf-bmps" class="inner-link">Golf BMPs</a>
</div>
<br>
<div style="margin: 0 auto; text-align: center;">
    Are you a housing community looking to become a leader in sustainability?
</div>
<br>
<div style="margin: 0 auto; text-align: center;">
    <a href="/sustainable" class="inner-link">Sustainable Communities</a>
</div>

