<% layout('boilerplate') -%>

<div class="tagline">
	The idea of sustainable communities will be a major focus in the coming years.
	<br>
	Is your community going to be a leader in this movement?
</div>
