<% layout('boilerplate') -%>

	<div class="tabs">
		<div class="left">
			<div class="tab"><a href="/">HOME</a></div>
			<div class="tab"><a href="/sustainable">SUSTAINABLE COMMUNITIES</a></div>
		</div>
		<div class="right">
			<div class="tab"><a href="/benefits">BENEFITS</a></div>
			<div class="tab active"><a href="/involvement">COMMUNITY INVOLVEMENT</a></div>
		</div>
	</div>
	<div class="bg-home involvement">
		<div class="logo"></div>
	</div>
<div class="footer involvement">
	<div class="title" style="font-weight: bold;">Community Involvement</div>
	<div class="involve" style="float: left;">
		<div>A comprehensive plan designed to maximize your community’s environmental, social, and economic well being</div>			
		<div>Sustainability International works directly with residents to promote the highest levels of community involvement through various committees and education programs</div>			
		<div>Ensures that your community is using its natural resources in the most efficient manner possible</div>			
		<div>Inspire neighboring  communities to join in the effort to implement sustainability initiatives that help protect the environment for future generations</div>
	</div>
	<div class="steward" style="margin: 10px 0; float: left;">
		Environmental Stewardship. Not just words for today, but actions that will ensure an even better way of life for tomorrow.
	</div>
	<a href="tel:8668723708"><i class="fa fa-phone-square"></i> 866-872-3708</a>
	<a href="mailto:info@sustainabilityinternational.org"><i class="fa fa-envelope"></i> info@sustainabilityinternational.org</a>
</div>
