<% layout('boilerplate') -%>

<div class="container">
<div class="bg-home">
<div class="logo"></div>
<div class="tagline tag-1">
The idea of sustainable communities will be a major focus in the coming years.
</div>
<div class="tagline tag-2">
Is your community going to be a leader in this movement?
</div>
<div class="tabs">
<div class="tab"><a href="#">SUSTAINABLE COMMUNITIES</a></div>
<div class="tab"><a href="#">BENEFITS</a></div>
<div class="tab"><a href="#">COMMUNITY INVOLVEMENT</a></div>
<div class="tab"><a href="#">CONTACT US</a></div>
</div>
</div>
</div>