<% layout('boilerplate') -%>

<div class="glass">
</div>
<div class="container">
	<div class="tabs">
		<div class="logo"></div>
		<a class="tab" href="/">HOME</a>
		<a class="tab active" href="/sustainable">SUSTAINABLE COMMUNITIES</a>
		<a class="tab" href="/benefits">BENEFITS</a>
		<a class="tab" href="/involvement">COMMUNITY INVOLVEMENT</a>
	</div>
	<div class="content sustainable">
		<div class="title" style="title">Sustainable Community Awards</div>
		<div class="sans description involvement" style="float: left;">
			<div>85% or higher involvement</div>
			<div>75% to 84% involvement</div>
			<div>50% to 74% involvement</div>
			<div>25% to 49% involvement</div>
			<div>24% involvement or under</div>
		</div>
		<div class="stars-right" style="float: left; margin-left: 20px;">
			<div class="diamonds five"></div>
			<div class="diamonds four"></div>
			<div class="diamonds three"></div>
			<div class="diamonds two"></div>
			<div class="diamonds one"></div>
		</div>
		<div class="title">
			We offer a customized set of program manuals for clubhouse display detailing what your community is doing in the areas of <span style="font-weight: bold;">Natural Resource Management</span>, <span style="font-weight: bold;">Integrated Pest Management</span>, <span style="font-weight: bold;">Nutrient Management</span>, and <span style="font-weight: bold;">Environmental Best Management Practices</span>.
		</div>
		<div class="description">
			Sustainability International will provide a complete set of community manuals detailing your ongoing environmental efforts. These manuals are suitable for display in the clubhouse or any common area where residents can easily access and understand the steps that your community is taking in its drive for sustainability.
		</div>
	</div>
	<div class="footer">
		<a href="tel:8668723708"><i class="fa fa-phone-square"></i> 866-872-3708</a>
		<a href="mailto:info@sustainabilityinternational.org"><i class="fa fa-envelope"></i> info@sustainabilityinternational.org</a>
		<a href="http://golfbmpsolutions.com" class="right">Visit Golf BMP Solutions</a>
	</div>
</div>