<% layout('boilerplate') -%>

<div class="header">Sustainable Community Awards</div>
<div class="sans description" style="float: left;">
	<div class="percent">85% or higher involvement</div>
	<div class="percent">75% to 84% involvement</div>
	<div class="percent">50% to 74% involvement</div>
	<div class="percent">25% to 49% involvement</div>
	<div class="percent">24% involvement or under</div>
</div>
<div class="stars-right" style="float: left; margin-left: 20px;">
	<div class="diamonds five"></div>
	<div class="diamonds four"></div>
	<div class="diamonds three"></div>
	<div class="diamonds two"></div>
	<div class="diamonds one"></div>
</div>
<div class="title">
	We offer a customized set of program manuals for clubhouse display detailing what your community is doing in the areas of <span style="font-weight: bold;">Natural Resource Management</span>, <span style="font-weight: bold;">Integrated Pest Management</span>, <span style="font-weight: bold;">Nutrient Management</span>, and <span style="font-weight: bold;">Environmental Best Management Practices</span>.
</div>
<div class="description">
	Sustainability International will provide a complete set of community manuals detailing your ongoing environmental efforts. These manuals are suitable for display in the clubhouse or any common area where residents can easily access and understand the steps that your community is taking in its drive for sustainability.
</div>
<div>
	For more, visit the links below.
</div>
<br>
<div style="margin: 0 auto; text-align: center;">
	<a href="/involvement" class="inner-link">Community Involvement</a>
</div>
<br>
<div style="margin: 0 auto; text-align: center;">
	<a href="/benefits" class="inner-link">Benefits</a>
</div>
